<router-outlet></router-outlet>
<!--<button mat-button (click)="loginWithGoogle();navigateToHome()">Login</button>-->
<!--<button mat-button (click)="logout()">Logout</button>-->


<div class="login-container">
  <div class="login-card">
    <h1 class="title">Welcome</h1>
    <p class="subtitle">Đăng nhập để tiếp tục trải nghiệm</p>

    <button mat-raised-button class="google-btn" (click)="loginWithGoogle();navigateToHome()">
      Login with Google
    </button>

    <button mat-stroked-button class="logout-btn" (click)="logout()">
      Logout
    </button>
  </div>
</div>
