<mat-toolbar>
  <span class="spacer"></span>
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/home">GET</button>
  <button mat-button routerLink="/post">POST</button>
  <button mat-button routerLink="/put">PUT</button>
  <button mat-button routerLink="/delete">DELETE</button>
</mat-toolbar>
<router-outlet></router-outlet>
<!--<button mat-button (click)="loginWithGoogle();navigateToHome()">Login</button>-->
<!--<button mat-button (click)="logout()">Logout</button>-->
