//
//
//.card-grid {
//  display: grid;
//  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
//  gap: 20px;
//}
//
//.onepiece-card {
//  background: #fff8e7;
//  border: 4px solid #d4a017;
//  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
//  border-radius: 12px;
//  transition: transform 0.2s ease-in-out;
//  position: relative;
//
//  &:hover {
//    transform: scale(1.05);
//    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
//  }
//
//  .mat-card-header {
//    border-bottom: 2px dashed #d4a017;
//    padding-bottom: 5px;
//  }
//
//  .avatar {
//    background-size: contain;
//    background-repeat: no-repeat;
//    background-position: center;
//    border: 2px solid #d4a017;
//    border-radius: 50%;
//  }
//
//  .name {
//    font-size: 1.4rem;
//    font-weight: bold;
//    color: #8b0000;
//  }
//
//  .role {
//    color: #555;
//    font-style: italic;
//  }
//
//  .character-img {
//    height: 300px;
//    object-fit: contain;
//    border-bottom: 3px solid #d4a017;
//  }
//
//  .info {
//    margin-top: 10px;
//    font-size: 0.95rem;
//    line-height: 1.4;
//
//    strong {
//      color: #8b0000;
//    }
//  }
//
//  mat-card-actions {
//    display: flex;
//    justify-content: space-between;
//    padding: 10px;
//  }
//}
//
//.avatar {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  background: #fff3d4;
//  border: 2px solid #d4a017;
//  border-radius: 50%;
//  width: 50px;
//  height: 50px;
//  overflow: hidden;
//
//  img {
//    width: 100%;
//    height: 100%;
//    object-fit: contain;
//  }
//
//  .no-fruit {
//    font-size: 0.65rem;
//    text-align: center;
//    color: #666;
//    padding: 3px;
//  }
//}
//
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.container{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  .form-input{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
    .form{
      width: 400px;
    }
  }
  .productList{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    .card{
      width: 300px;
      padding: 20px;
      box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
      p{
        padding: 12px;
      }
      .card-name{
        p{
          font-weight: bold;
        }
      }
      .card-image{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          height: auto;
          max-width: 240px;
          object-fit: contain;
        }
      }
    }
  }
}


